.landing-header {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding-top: 5rem;
}

.landing-body {
  font-size: 1rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.link {
  text-decoration: none;
  color: #5a58c1;
  font-weight: 500;
}
