GrabbableScene-Complete/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
GrabbableScene-Complete/Library/PackageCache/com.meta.xr.simulator@62.0.0/MetaXRSimulator/.synth_env_server/synth_env_server_Data/sharedassets3.assets filter=lfs diff=lfs merge=lfs -text
GrabbableScene-Complete/Library/Artifacts/08/08f8b27a0dcd4b0f8ec944f939b3c3ba filter=lfs diff=lfs merge=lfs -text
